html,
body {
  min-height: 100%;
}

#root {
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.game {
  background: #fff;
  height: 300px;
  position: relative;
  width: 300px;
}

.game__dot {
  position: absolute;
}
